/* App-wide styling */
html, body {
    background-color: #0f1116;
    color: #9c9090;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 20px; */
    height: 100%;
    width: 100%;
}


#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
  }
  
#navbar a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

/* Blog page */
#blog {
    margin-top: 50px;
  }
  
#blog a {
    color: #ffffff;
    margin-top: 50px;
}



/* Target the buttons inside our interactive sentence container */
.japanese-sentence-interactive .btn-link:hover {
    /* A subtle background color for dark theme */
    background-color: #343a40; 
    
    /* Ensure the link color stays bright on hover */
    color: #0dcaf0; 

    /* Add rounded corners for a modern look */
    border-radius: 5px;

    /* Remove the default underline from links to avoid clutter */
    text-decoration: none;
}